# CO2 Emissions - The World Bank Open Data

Carbon dioxide emissions are those stemming from the burning of fossil fuels and the manufacture of cement. They include carbon dioxide produced during consumption of solid, liquid, and gas fuels and gas flaring. The World Bank's CO2 Emissions dataset provides year-wise CO2 emissions per metric ton per capita of each country.

The dataset is cleaned and organized in order to create an excel file which will be later used to develop an animated bar chart showing CO2 emissions of top 10 countries over a period of 20 year i.e. 1990 - 2019. 

[Click here for more information](https://data.worldbank.org/indicator/EN.ATM.CO2E.PC?most_recent_value_desc=true&view=chart)

## Loading Dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('CO2.csv')
df.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.983547,0.995665,1.006938,0.956704,0.938565,0.928508,0.908094,0.903764,NaN,NaN
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.265210,0.189910,0.149162,0.176278,0.153019,0.134106,0.165455,0.160976,NaN,NaN
3,Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.472242,0.499219,0.506918,0.485478,0.490807,0.474882,0.478305,0.485884,NaN,NaN
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.947663,1.031093,1.092216,1.125224,1.020760,0.802751,0.766143,0.779203,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 63 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   1960          0 non-null      float64
 2   1961          0 non-null      float64
 3   1962          0 non-null      float64
 4   1963          0 non-null      float64
 5   1964          0 non-null      float64
 6   1965          0 non-null      float64
 7   1966          0 non-null      float64
 8   1967          0 non-null      float64
 9   1968          0 non-null      float64
 10  1969          0 non-null      float64
 11  1970          0 non-null      float64
 12  1971          0 non-null      float64
 13  1972          0 non-null      float64
 14  1973          0 non-null      float64
 15  1974          0 non-null      float64
 16  1975          0 non-null      float64
 17  1976          0 non-null      float64
 18  1977          0 non-null      float64
 19  1978          0 non-null      float64
 20  1979          0 non-null      float64
 21  1980          0 non-null      float64
 22  1981          0 non-null      float64
 23  1982          0 non-null      float64
 24  1983          0 non-null      float64
 25  1984          0 non-null      float64
 26  1985          0 non-null      float64
 27  1986          0 non-null      float64
 28  1987          0 non-null      float64
 29  1988          0 non-null      float64
 30  1989          0 non-null      float64
 31  1990          233 non-null    float64
 32  1991          234 non-null    float64
 33  1992          238 non-null    float64
 34  1993          238 non-null    float64
 35  1994          238 non-null    float64
 36  1995          238 non-null    float64
 37  1996          238 non-null    float64
 38  1997          238 non-null    float64
 39  1998          237 non-null    float64
 40  1999          237 non-null    float64
 41  2000          238 non-null    float64
 42  2001          238 non-null    float64
 43  2002          239 non-null    float64
 44  2003          239 non-null    float64
 45  2004          239 non-null    float64
 46  2005          239 non-null    float64
 47  2006          239 non-null    float64
 48  2007          239 non-null    float64
 49  2008          239 non-null    float64
 50  2009          239 non-null    float64
 51  2010          239 non-null    float64
 52  2011          239 non-null    float64
 53  2012          239 non-null    float64
 54  2013          239 non-null    float64
 55  2014          239 non-null    float64
 56  2015          239 non-null    float64
 57  2016          239 non-null    float64
 58  2017          239 non-null    float64
 59  2018          239 non-null    float64
 60  2019          239 non-null    float64
 61  2020          0 non-null      float64
 62  2021          0 non-null      float64
dtypes: float64(62), object(1)
memory usage: 131.0+ KB

Slicing data from year 1990 to 2019 as other years columns do not have any data

In [5]:
co = df.iloc[:,31:-2]

Inserting 'Country Name' column from the dataset

In [6]:
co.insert(0, 'Country', df['Country Name'] )

Transposing the DataFrame to organize it in the required form

In [7]:
co = co.transpose()
co.columns = co.iloc[0]
co = co[1:]

In [8]:
co.head()

Country,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
1990,NaN,0.982136,0.222538,0.473669,0.554586,1.819542,7.65368,2.815685,29.055586,3.07375,...,NaN,0.288884,0.463939,3.896327,0.535122,NaN,0.496444,6.210509,0.356474,1.635374
1991,NaN,0.937815,0.207535,0.525418,0.545439,1.24281,7.396183,2.765204,30.651524,3.199443,...,NaN,0.289648,0.452553,3.858114,0.592765,NaN,0.611693,5.923352,0.365461,1.763377
1992,NaN,0.902599,0.115282,0.563118,0.544627,0.6837,7.157446,2.928581,28.210531,3.215237,...,NaN,0.298186,0.378365,3.801811,0.588932,NaN,0.632544,5.718766,0.35297,1.735657
1993,NaN,0.904581,0.095689,0.51877,0.710984,0.638307,6.930827,3.070174,28.615328,3.240345,...,NaN,0.340562,0.369122,3.767891,0.641916,NaN,0.570455,5.796295,0.303473,1.582226
1994,NaN,0.90634,0.083465,0.466821,0.839398,0.645355,6.717237,3.167647,30.390412,3.244831,...,NaN,0.367994,0.360231,3.731384,0.577677,NaN,0.600521,5.827404,0.252531,1.469804

The values are in absolute form. To take cumulative values for each country I'll use `.cumsum()` from Pandas

In [9]:
for i in co.columns:
    co[i] = co[i].cumsum()

In [10]:
co.head()

Country,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
1990,NaN,0.982136,0.222538,0.473669,0.554586,1.819542,7.65368,2.815685,29.055586,3.07375,...,NaN,0.288884,0.463939,3.896327,0.535122,NaN,0.496444,6.210509,0.356474,1.635374
1991,NaN,1.919951,0.430073,0.999087,1.100025,3.062352,15.049863,5.580889,59.70711,6.273193,...,NaN,0.578532,0.916492,7.754441,1.127887,NaN,1.108137,12.133861,0.721934,3.398751
1992,NaN,2.822551,0.545355,1.562204,1.644651,3.746052,22.20731,8.50947,87.917641,9.48843,...,NaN,0.876718,1.294857,11.556252,1.716818,NaN,1.740682,17.852627,1.074905,5.134409
1993,NaN,3.727131,0.641043,2.080975,2.355635,4.384359,29.138136,11.579644,116.532968,12.728775,...,NaN,1.21728,1.663979,15.324142,2.358734,NaN,2.311136,23.648922,1.378378,6.716635
1994,NaN,4.633471,0.724509,2.547796,3.195033,5.029714,35.855374,14.747291,146.923381,15.973607,...,NaN,1.585275,2.024209,19.055527,2.936411,NaN,2.911657,29.476326,1.630908,8.186438

Sorting coutries in descensing order to get top countries with highest values

In [13]:
co.sort_values('2019', axis = 1, ascending=False, inplace=True)
co.head()

Country,Qatar,United Arab Emirates,Kuwait,Bahrain,Luxembourg,United States,North America,Australia,Canada,Brunei Darussalam,...,New Caledonia,Puerto Rico,West Bank and Gaza,French Polynesia,San Marino,Sint Maarten (Dutch part),Turks and Caicos Islands,British Virgin Islands,Virgin Islands (U.S.),Kosovo
1990,28.391917,29.055586,17.391689,20.756912,29.566584,19.407346,18.98435,15.448463,15.14889,12.446168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,61.207819,59.70711,23.229688,40.087712,59.928341,38.41075,37.564748,30.766645,29.889904,24.971181,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,92.356171,87.917641,37.452525,62.216952,89.098992,57.43361,56.192133,46.122535,44.918138,37.912036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,126.530243,116.532968,56.041763,84.99671,118.409011,76.651943,74.965103,61.606117,59.631524,51.715409,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,163.459797,146.923381,78.38645,107.533431,145.237826,95.908155,93.807193,77.341733,74.691869,66.341953,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Slicing the top 60 countries

In [15]:
cof = co[:60]

Remvoing data of regions from countries dataset

In [16]:
notw=['Central Europe and the Baltics', 'Europe & Central Asia (IDA & IBRD countries)', 'European Union', 
     'Europe & Central Asia', 'Europe & Central Asia (excluding high income)', 'Euro area', 
     'OECD members','High income', 'North America', 'Post-demographic dividend' ]

for i in notw:
    cof.drop(cof.index[cof.index == i], inplace=True)

cof

Country,Qatar,United Arab Emirates,Kuwait,Bahrain,Luxembourg,United States,North America,Australia,Canada,Brunei Darussalam,...,New Caledonia,Puerto Rico,West Bank and Gaza,French Polynesia,San Marino,Sint Maarten (Dutch part),Turks and Caicos Islands,British Virgin Islands,Virgin Islands (U.S.),Kosovo
1990,28.391917,29.055586,17.391689,20.756912,29.566584,19.407346,18.98435,15.448463,15.14889,12.446168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,61.207819,59.70711,23.229688,40.087712,59.928341,38.41075,37.564748,30.766645,29.889904,24.971181,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,92.356171,87.917641,37.452525,62.216952,89.098992,57.43361,56.192133,46.122535,44.918138,37.912036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,126.530243,116.532968,56.041763,84.99671,118.409011,76.651943,74.965103,61.606117,59.631524,51.715409,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,163.459797,146.923381,78.38645,107.533431,145.237826,95.908155,93.807193,77.341733,74.691869,66.341953,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,200.440538,177.806853,100.286836,129.623901,166.430851,115.125064,112.637303,93.458473,89.982472,81.721579,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,240.004839,208.330789,121.204832,151.986392,187.530495,134.700444,131.82077,109.964033,105.575062,97.495789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,286.118924,237.987188,142.380352,174.081166,207.175268,155.031299,151.720635,126.67409,121.519048,114.193584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,331.730175,266.5549,165.534505,197.115171,224.999614,175.2976,171.576686,144.334631,137.59556,128.311878,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,379.015199,294.215354,189.897636,219.437471,243.397895,195.398732,191.30293,162.073591,153.854083,141.857415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,423.384851,320.084479,215.65606,241.758335,263.017423,215.868539,211.411318,179.912339,170.611709,155.992283,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,465.58976,348.224152,242.362237,264.202488,283.673105,236.040069,231.208523,197.844654,186.943278,169.814815,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,511.159919,375.510727,269.514224,287.21391,305.682406,255.485618,250.388722,215.970644,203.663579,183.111194,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,557.571197,402.735469,297.17058,310.265451,328.355833,274.992118,269.671792,233.849286,220.871881,198.702432,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,605.222503,430.283844,325.919383,331.778414,353.809068,294.589748,288.996308,252.201521,237.666151,212.850981,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,650.632597,457.487813,357.193388,354.71834,379.413271,314.059011,308.227968,270.543834,254.693636,226.458203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,693.753201,482.301272,387.839797,377.880482,404.210314,333.004925,326.945102,288.904336,271.288986,246.629444,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,734.203144,504.7495,416.00354,399.984559,427.356485,352.047838,345.826974,307.425413,288.669556,265.481028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,770.927402,527.078451,444.612367,422.283975,449.908414,370.326333,363.938296,325.729162,305.226479,286.049562,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,804.505538,546.724016,472.388655,443.242842,470.881408,387.135031,380.620229,343.952301,320.728624,306.21297,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,839.859994,565.916941,499.813132,464.641192,492.638848,404.56677,397.892025,361.54237,336.520766,324.316608,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011,877.655748,585.228433,526.306338,486.108475,513.667232,421.170988,414.438256,378.837786,352.51671,342.572873,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,917.054172,605.492787,551.436961,508.289171,533.801105,436.960771,430.224829,395.859828,368.251184,360.525135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,954.474934,626.570623,575.394062,531.155635,552.48117,453.071955,446.311119,412.302144,384.089644,378.037802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,991.35066,647.480653,598.142458,554.250148,569.827332,469.112876,462.33527,428.132566,399.939549,395.030237,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,1026.462457,669.376157,620.917042,576.700083,585.856012,484.672911,477.906486,443.995854,415.588135,410.216374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,1059.955497,691.732631,643.532674,598.194612,601.061832,499.822796,493.08589,459.910511,431.008737,426.578106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,1092.237175,713.461078,665.528339,619.144151,616.153995,514.646057,507.984344,475.733753,446.553308,443.52072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,1123.472581,732.839275,686.697225,639.858984,631.484202,529.868605,523.252867,491.237239,462.203887,460.88303,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,1156.234356,753.341558,707.559174,662.118565,646.790629,544.542015,538.006397,506.490857,477.6345,476.840185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Exporting DataFrame to `.xlsx` Microsoft Excel file

In [17]:
cof.to_excel('cof.xlsx')

## Websrcaping flags of countries
The animation needs flags for each county. I'll do it using a free website whcih provides `.png` images of flags of countries.
I'll use the following libraries/ modules:
* `BeautifulSoup`
* `os`
* `shutil`
* `requests`

In [18]:
import requests 
from bs4 import BeautifulSoup

In [19]:
def getdata(url): 
    r = requests.get(url) 
    return r.text 
    
htmldata = getdata("https://www.countryflags.com/icons-overview/") 
soup = BeautifulSoup(htmldata, 'html.parser') 
for item in soup.find_all('img'):
    print(item['src'])

https://www.countryflags.com/wp-content/themes/countryflags/assets/images/countryflags.svg
https://www.countryflags.com/wp-content/uploads/flags/us.png
https://www.countryflags.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/nl.png
https://www.countryflags.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/fr.png
https://www.countryflags.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/de.png
https://cdn.countryflags.com/thumbs/afghanistan/flag-square-250.png
https://cdn.countryflags.com/thumbs/argentina/flag-square-250.png
https://cdn.countryflags.com/thumbs/antigua-and-barbuda/flag-square-250.png
https://cdn.countryflags.com/thumbs/angola/flag-square-250.png
https://cdn.countryflags.com/thumbs/andorra/flag-square-250.png
https://cdn.countryflags.com/thumbs/algeria/flag-square-250.png
https://cdn.countryflags.com/thumbs/albania/flag-square-250.png
https://cdn.countryflags.com/thumbs/bangladesh/flag-square-250.png
https://cdn.countryflags.com/thumbs/bahrain/flag-square-250.png
https://cdn.countryflags.com/thumbs/bahamas/flag-square-250.png
https://cdn.countryflags.com/thumbs/azerbaijan/flag-square-250.png
https://cdn.countryflags.com/thumbs/austria/flag-square-250.png
https://cdn.countryflags.com/thumbs/australia/flag-square-250.png
https://cdn.countryflags.com/thumbs/armenia/flag-square-250.png
https://cdn.countryflags.com/thumbs/bhutan/flag-square-250.png
https://cdn.countryflags.com/thumbs/benin/flag-square-250.png
https://cdn.countryflags.com/thumbs/belize/flag-square-250.png
https://cdn.countryflags.com/thumbs/belgium/flag-square-250.png
https://cdn.countryflags.com/thumbs/belarus/flag-square-250.png
https://cdn.countryflags.com/thumbs/barbados/flag-square-250.png
https://cdn.countryflags.com/thumbs/burkina-faso/flag-square-250.png
https://cdn.countryflags.com/thumbs/bulgaria/flag-square-250.png
https://cdn.countryflags.com/thumbs/brunei/flag-square-250.png
https://cdn.countryflags.com/thumbs/brazil/flag-square-250.png
https://cdn.countryflags.com/thumbs/botswana/flag-square-250.png
https://cdn.countryflags.com/thumbs/bosnia-and-herzegovina/flag-square-250.png
https://cdn.countryflags.com/thumbs/bolivia/flag-square-250.png
https://cdn.countryflags.com/thumbs/chad/flag-square-250.png
https://cdn.countryflags.com/thumbs/central-african-republic/flag-square-250.png
https://cdn.countryflags.com/thumbs/cape-verde/flag-square-250.png
https://cdn.countryflags.com/thumbs/canada/flag-square-250.png
https://cdn.countryflags.com/thumbs/cameroon/flag-square-250.png
https://cdn.countryflags.com/thumbs/cambodia/flag-square-250.png
https://cdn.countryflags.com/thumbs/burundi/flag-square-250.png
https://cdn.countryflags.com/thumbs/congo-democratic-republic-of-the/flag-square-250.png
https://cdn.countryflags.com/thumbs/congo-republic-of-the/flag-square-250.png
https://cdn.countryflags.com/thumbs/comoros/flag-square-250.png
https://cdn.countryflags.com/thumbs/colombia/flag-square-250.png
https://cdn.countryflags.com/thumbs/china/flag-square-250.png
https://cdn.countryflags.com/thumbs/chile/flag-square-250.png
https://cdn.countryflags.com/thumbs/djibouti/flag-square-250.png
https://cdn.countryflags.com/thumbs/denmark/flag-square-250.png
https://cdn.countryflags.com/thumbs/czech-republic/flag-square-250.png
https://cdn.countryflags.com/thumbs/cyprus/flag-square-250.png
https://cdn.countryflags.com/thumbs/cuba/flag-square-250.png
https://cdn.countryflags.com/thumbs/croatia/flag-square-250.png
https://cdn.countryflags.com/thumbs/costa-rica/flag-square-250.png
https://cdn.countryflags.com/thumbs/equatorial-guinea/flag-square-250.png
https://cdn.countryflags.com/thumbs/el-salvador/flag-square-250.png
https://cdn.countryflags.com/thumbs/egypt/flag-square-250.png
https://cdn.countryflags.com/thumbs/ecuador/flag-square-250.png
https://cdn.countryflags.com/thumbs/east-timor/flag-square-250.png
https://cdn.countryflags.com/thumbs/dominican-republic/flag-square-250.png
https://cdn.countryflags.com/thumbs/dominica/flag-square-250.png
https://cdn.countryflags.com/thumbs/finland/flag-square-250.png
https://cdn.countryflags.com/thumbs/fiji/flag-square-250.png
https://cdn.countryflags.com/thumbs/micronesia/flag-square-250.png
https://cdn.countryflags.com/thumbs/ethiopia/flag-square-250.png
https://cdn.countryflags.com/thumbs/estonia/flag-square-250.png
https://cdn.countryflags.com/thumbs/eritrea/flag-square-250.png
https://cdn.countryflags.com/thumbs/greece/flag-square-250.png
https://cdn.countryflags.com/thumbs/ghana/flag-square-250.png
https://cdn.countryflags.com/thumbs/germany/flag-square-250.png
https://cdn.countryflags.com/thumbs/georgia/flag-square-250.png
https://cdn.countryflags.com/thumbs/gambia/flag-square-250.png
https://cdn.countryflags.com/thumbs/gabon/flag-square-250.png
https://cdn.countryflags.com/thumbs/france/flag-square-250.png
https://cdn.countryflags.com/thumbs/honduras/flag-square-250.png
https://cdn.countryflags.com/thumbs/haiti/flag-square-250.png
https://cdn.countryflags.com/thumbs/guyana/flag-square-250.png
https://cdn.countryflags.com/thumbs/guinea-bissau/flag-square-250.png
https://cdn.countryflags.com/thumbs/guinea/flag-square-250.png
https://cdn.countryflags.com/thumbs/guatemala/flag-square-250.png
https://cdn.countryflags.com/thumbs/grenada/flag-square-250.png
https://cdn.countryflags.com/thumbs/iraq/flag-square-250.png
https://cdn.countryflags.com/thumbs/iran/flag-square-250.png
https://cdn.countryflags.com/thumbs/indonesia/flag-square-250.png
https://cdn.countryflags.com/thumbs/india/flag-square-250.png
https://cdn.countryflags.com/thumbs/iceland/flag-square-250.png
https://cdn.countryflags.com/thumbs/hungary/flag-square-250.png
https://cdn.countryflags.com/thumbs/jordan/flag-square-250.png
https://cdn.countryflags.com/thumbs/japan/flag-square-250.png
https://cdn.countryflags.com/thumbs/jamaica/flag-square-250.png
https://cdn.countryflags.com/thumbs/cote-d-ivoire/flag-square-250.png
https://cdn.countryflags.com/thumbs/italy/flag-square-250.png
https://cdn.countryflags.com/thumbs/israel/flag-square-250.png
https://cdn.countryflags.com/thumbs/ireland/flag-square-250.png
https://cdn.countryflags.com/thumbs/kuwait/flag-square-250.png
https://cdn.countryflags.com/thumbs/kosovo/flag-square-250.png
https://cdn.countryflags.com/thumbs/south-korea/flag-square-250.png
https://cdn.countryflags.com/thumbs/north-korea/flag-square-250.png
https://cdn.countryflags.com/thumbs/kiribati/flag-square-250.png
https://cdn.countryflags.com/thumbs/kenya/flag-square-250.png
https://cdn.countryflags.com/thumbs/kazakhstan/flag-square-250.png
https://cdn.countryflags.com/thumbs/liberia/flag-square-250.png
https://cdn.countryflags.com/thumbs/lesotho/flag-square-250.png
https://cdn.countryflags.com/thumbs/lebanon/flag-square-250.png
https://cdn.countryflags.com/thumbs/latvia/flag-square-250.png
https://cdn.countryflags.com/thumbs/laos/flag-square-250.png
https://cdn.countryflags.com/thumbs/kyrgyzstan/flag-square-250.png
https://cdn.countryflags.com/thumbs/malawi/flag-square-250.png
https://cdn.countryflags.com/thumbs/madagascar/flag-square-250.png
https://cdn.countryflags.com/thumbs/north-macedonia/flag-square-250.png
https://cdn.countryflags.com/thumbs/luxembourg/flag-square-250.png
https://cdn.countryflags.com/thumbs/lithuania/flag-square-250.png
https://cdn.countryflags.com/thumbs/liechtenstein/flag-square-250.png
https://cdn.countryflags.com/thumbs/libya/flag-square-250.png
https://cdn.countryflags.com/thumbs/mauritius/flag-square-250.png
https://cdn.countryflags.com/thumbs/mauritania/flag-square-250.png
https://cdn.countryflags.com/thumbs/marshall-islands/flag-square-250.png
https://cdn.countryflags.com/thumbs/malta/flag-square-250.png
https://cdn.countryflags.com/thumbs/mali/flag-square-250.png
https://cdn.countryflags.com/thumbs/maldives/flag-square-250.png
https://cdn.countryflags.com/thumbs/malaysia/flag-square-250.png
https://cdn.countryflags.com/thumbs/morocco/flag-square-250.png
https://cdn.countryflags.com/thumbs/montenegro/flag-square-250.png
https://cdn.countryflags.com/thumbs/mongolia/flag-square-250.png
https://cdn.countryflags.com/thumbs/monaco/flag-square-250.png
https://cdn.countryflags.com/thumbs/moldova/flag-square-250.png
https://cdn.countryflags.com/thumbs/mexico/flag-square-250.png
https://cdn.countryflags.com/thumbs/new-zealand/flag-square-250.png
https://cdn.countryflags.com/thumbs/netherlands/flag-square-250.png
https://cdn.countryflags.com/thumbs/nepal/flag-square-250.png
https://cdn.countryflags.com/thumbs/nauru/flag-square-250.png
https://cdn.countryflags.com/thumbs/namibia/flag-square-250.png
https://cdn.countryflags.com/thumbs/myanmar/flag-square-250.png
https://cdn.countryflags.com/thumbs/mozambique/flag-square-250.png
https://cdn.countryflags.com/thumbs/pakistan/flag-square-250.png
https://cdn.countryflags.com/thumbs/oman/flag-square-250.png
https://cdn.countryflags.com/thumbs/norway/flag-square-250.png
https://cdn.countryflags.com/thumbs/niue/flag-square-250.png
https://cdn.countryflags.com/thumbs/nigeria/flag-square-250.png
https://cdn.countryflags.com/thumbs/niger/flag-square-250.png
https://cdn.countryflags.com/thumbs/nicaragua/flag-square-250.png
https://cdn.countryflags.com/thumbs/philippines/flag-square-250.png
https://cdn.countryflags.com/thumbs/peru/flag-square-250.png
https://cdn.countryflags.com/thumbs/paraguay/flag-square-250.png
https://cdn.countryflags.com/thumbs/papua-new-guinea/flag-square-250.png
https://cdn.countryflags.com/thumbs/panama/flag-square-250.png
https://cdn.countryflags.com/thumbs/palau/flag-square-250.png
https://cdn.countryflags.com/thumbs/saint-kitts-and-nevis/flag-square-250.png
https://cdn.countryflags.com/thumbs/rwanda/flag-square-250.png
https://cdn.countryflags.com/thumbs/russia/flag-square-250.png
https://cdn.countryflags.com/thumbs/romania/flag-square-250.png
https://cdn.countryflags.com/thumbs/qatar/flag-square-250.png
https://cdn.countryflags.com/thumbs/portugal/flag-square-250.png
https://cdn.countryflags.com/thumbs/poland/flag-square-250.png
https://cdn.countryflags.com/thumbs/senegal/flag-square-250.png
https://cdn.countryflags.com/thumbs/saudi-arabia/flag-square-250.png
https://cdn.countryflags.com/thumbs/sao-tome-and-principe/flag-square-250.png
https://cdn.countryflags.com/thumbs/san-marino/flag-square-250.png
https://cdn.countryflags.com/thumbs/samoa/flag-square-250.png
https://cdn.countryflags.com/thumbs/saint-vincent-and-the-grenadines/flag-square-250.png
https://cdn.countryflags.com/thumbs/saint-lucia/flag-square-250.png
https://cdn.countryflags.com/thumbs/slovenia/flag-square-250.png
https://cdn.countryflags.com/thumbs/slovakia/flag-square-250.png
https://cdn.countryflags.com/thumbs/singapore/flag-square-250.png
https://cdn.countryflags.com/thumbs/sierra-leone/flag-square-250.png
https://cdn.countryflags.com/thumbs/seychelles/flag-square-250.png
https://cdn.countryflags.com/thumbs/serbia/flag-square-250.png
https://cdn.countryflags.com/thumbs/sudan/flag-square-250.png
https://cdn.countryflags.com/thumbs/sri-lanka/flag-square-250.png
https://cdn.countryflags.com/thumbs/spain/flag-square-250.png
https://cdn.countryflags.com/thumbs/south-sudan/flag-square-250.png
https://cdn.countryflags.com/thumbs/south-africa/flag-square-250.png
https://cdn.countryflags.com/thumbs/somalia/flag-square-250.png
https://cdn.countryflags.com/thumbs/solomon-islands/flag-square-250.png
https://cdn.countryflags.com/thumbs/tajikistan/flag-square-250.png
https://cdn.countryflags.com/thumbs/taiwan/flag-square-250.png
https://cdn.countryflags.com/thumbs/syria/flag-square-250.png
https://cdn.countryflags.com/thumbs/switzerland/flag-square-250.png
https://cdn.countryflags.com/thumbs/sweden/flag-square-250.png
https://cdn.countryflags.com/thumbs/swaziland/flag-square-250.png
https://cdn.countryflags.com/thumbs/suriname/flag-square-250.png
https://cdn.countryflags.com/thumbs/tunisia/flag-square-250.png
https://cdn.countryflags.com/thumbs/trinidad-and-tobago/flag-square-250.png
https://cdn.countryflags.com/thumbs/tonga/flag-square-250.png
https://cdn.countryflags.com/thumbs/togo/flag-square-250.png
https://cdn.countryflags.com/thumbs/thailand/flag-square-250.png
https://cdn.countryflags.com/thumbs/tanzania/flag-square-250.png
https://cdn.countryflags.com/thumbs/united-kingdom/flag-square-250.png
https://cdn.countryflags.com/thumbs/united-arab-emirates/flag-square-250.png
https://cdn.countryflags.com/thumbs/ukraine/flag-square-250.png
https://cdn.countryflags.com/thumbs/uganda/flag-square-250.png
https://cdn.countryflags.com/thumbs/tuvalu/flag-square-250.png
https://cdn.countryflags.com/thumbs/turkmenistan/flag-square-250.png
https://cdn.countryflags.com/thumbs/turkey/flag-square-250.png
https://cdn.countryflags.com/thumbs/yemen/flag-square-250.png
https://cdn.countryflags.com/thumbs/vietnam/flag-square-250.png
https://cdn.countryflags.com/thumbs/venezuela/flag-square-250.png
https://cdn.countryflags.com/thumbs/vatican-city/flag-square-250.png
https://cdn.countryflags.com/thumbs/uzbekistan/flag-square-250.png
https://cdn.countryflags.com/thumbs/uruguay/flag-square-250.png
https://cdn.countryflags.com/thumbs/united-states-of-america/flag-square-250.png
https://cdn.countryflags.com/thumbs/zimbabwe/flag-square-250.png
https://cdn.countryflags.com/thumbs/zambia/flag-square-250.png
https://cdn.countryflags.com/thumbs/palestine/flag-square-250.png
https://cdn.countryflags.com/thumbs/europe/flag-square-250.png
https://cdn.countryflags.com/thumbs/curacao/flag-square-250.png
https://cdn.countryflags.com/thumbs/bonaire/flag-square-250.png
https://cdn.countryflags.com/thumbs/aruba/flag-square-250.png
https://cdn.countryflags.com/thumbs/vanuatu/flag-square-250.png
https://cdn.countryflags.com/thumbs/st-martin/flag-square-250.png
https://cdn.countryflags.com/thumbs/st-eustatius/flag-square-250.png
https://cdn.countryflags.com/thumbs/saba/flag-square-250.png
https://cdn.countryflags.com/thumbs/northern-ireland/flag-square-250.png
https://cdn.countryflags.com/thumbs/scotland/flag-square-250.png
https://cdn.countryflags.com/thumbs/greenland/flag-square-250.png
https://cdn.countryflags.com/thumbs/macau/flag-square-250.png
https://cdn.countryflags.com/thumbs/hongkong/flag-square-250.png
https://cdn.countryflags.com/thumbs/faroe-islands/flag-square-250.png
https://cdn.countryflags.com/thumbs/st-patrick/flag-square-250.png
https://cdn.countryflags.com/thumbs/wales/flag-square-250.png
https://cdn.countryflags.com/thumbs/england/flag-square-250.png
https://cdn.countryflags.com/thumbs/arab-league/flag-square-250.png
https://cdn.countryflags.com/thumbs/guadeloupe/flag-square-250.png
https://cdn.countryflags.com/thumbs/guam/flag-square-250.png
https://cdn.countryflags.com/thumbs/northern-mariana-islands/flag-square-250.png
https://cdn.countryflags.com/thumbs/new-caledonia/flag-square-250.png
https://cdn.countryflags.com/thumbs/puerto-rico/flag-square-250.png

In [ ]:
import requests 
import shutil
import os

for url in soup.find_all('img'):
    r = requests.get(url['src'], stream=True)
    if r.status_code == 200:
        filename = url['src'].split("/")[-2]
        with open(filename, 'wb') as f:
            r.raw.decode_content = True
            shutil.copyfileobj(r.raw, f)

The files are saved in root folder and I used Bulk Rename Utility to rename extensions to `.png`